.banner {
    background-color: $primary;
    color: white;
    &__icon {
        max-height: 75px;
    }
    &__content {
        font-size: 2rem;
        span {
            font-weight: 600;
        }
    }
}