.hero {

    h1 {
        // font-size: 30px;
    }

    height: 500px;
    background-color: $grey-100;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center 40%;
    background-repeat: no-repeat;
}
