.hero {
    height: 500px;
    background-color: $grey-100;
    position: relative;
    z-index: 0;
    .carousel {
        height: 100%;
        min-height: 130px;
    }
    .carousel-inner {
        height: 100%;
    }
    .carousel__image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        height: 100%;
    }

    .carousel__title {
        position: absolute;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100vh;
        align-items: center;
        justify-items: center;
        width: 100%;
        color: white;
        font-size: clamp(1rem, 3vw + 1rem, 2.3rem);
        font-weight: 700;
        z-index: 9;
        .text-center {
            max-width: 90vw;
        }
        h2 {
            font-weight: 400;
            font-size: 1.4rem;
            text-transform: uppercase;
        }
    }
    &::before {
        z-index: -1;
        content: "";
        position: absolute;
        background-image: url(../img/prenplants-flower--dk.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 90%;
        left: -8rem;
        top: 50%;
        width: 420px;
        transform: translateY(-50%);
        opacity: 0.6;
    }
}

.short_hero {
    .carousel-inner {
        height: 300px;
    }
    .carousel__image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        height: 100%;
        width: 100%;
    }
}
