.stock-list {
    *, *:before, *:after {
        box-sizing: border-box;
    }

    #reset,
    #clear {
        font-size: .889rem;
        border-radius: 0.25rem !important;
        font-weight: 600;
        min-width: 170px;
        padding: 0.5rem 1rem;
        border: 1px solid green;
        background-color: #eee;
        margin-right: 0.5rem;
    }

    .btn-group,
    .list-group,
    .list-group-item {
    width: 100%;
    }

    .btn-group {
        margin: 0;
        padding: 0;
        border: 1px solid #ddd;
        background: #eee;
        .button {
            display: flex;
            justify-content: space-between;
            padding: 0.25rem 0.5rem;
            margin: 0 !important;
            border: none;
            border-right: 1px solid #ddd;
            text-align: left;
            &:last-child {
                border-width: 0px;
            }
        }
    }
    .is-checked {
        font-weight: 500;
    }

    .list-group {
        border-width: 0 !important;
        border-radius: 0 !important;
        box-shadow: none;
    }

    .list-group-item {
        padding: 0;
        margin: 0;
        border-width: 0px 1px 0;
        border-radius: 0 !important;
        background-color: transparent;
        span {
            display: block;
            float: left;
            padding: 0.25rem 0.5rem;
            border-color: #ddd;
            border-style: solid;
            border-width: 0 1px 1px 0;
            box-sizing: border-box;
            &:last-child {
                border-right-width: 0;
            }
        }
    }


    .category {
        min-width: 200px;
        width: 24%;
        font-weight: bold;
    }

    .genus {
        min-width: 200px;
        width: 24%;
        font-style: italic;
    }

    .species {
        min-width: 200px;
        width: 24%;
        font-style: italic;
    }

    .variant {
        min-width: 200px;
        width: 24%;
    }

    .button.enquire,
    .button.category {
        cursor: default !important;
    }
    .enquire {
        min-width: 80px;
        width: 4%;
        text-align: center;
    }

    .all_stock {
        overflow-x: auto;
    }

    .sort,
    .content {
        min-width: 1000px;
    }

    .btn-group {
        display: flex;
    }
    .content {
        li {
            display: flex;
        }
    }

    .enquire input[type="checkbox"] {
        width: 25px;
        height: 25px;
        cursor: pointer;
        margin-top: 0;
    }

    .tb-data-single {
        cursor: pointer;
    }
}