// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.


$blue-50: hsl(209, 26%, 97%);
$blue-100: hsl(209, 26%, 78%);
$blue-400: hsl(209, 26%, 60%);
// $blue-700: hsl(209, 26%, 25%);

$blue-700: hsl(209, 77%, 19%);

$red-400: #e5393d;

// $black: #472021;
$black: #0F110C;

$grey-100: #f3f8f6;
$grey-200: #d5e5e1;

// $green-900: #215732;
// $green: $green-900;

// jungle green
// $secondary: hsl(162, 58%, 42%);
// $secondary-400: hsl(162, 58%, 62%);

// tangerine yellow
// $secondary: hsl(48, 100%, 50%);
// $secondary-400: hsl(48, 100%, 70%);

$secondary: $red-400;
$secondary-400: $red-400;


$primary: $blue-100;

// $form-check-input-checked-bg-color: $green-900;

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1130px,
//   xxl: 1130px
// );